.box {
    width: 200px;
    height: 250px;
    margin: 5%;
    cursor: pointer;
}

.img {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 200px;
    height: 200px;
}

.img:hover {
    border: 2px solid white;
}

.name {
    color: white;
    text-align: center;
    font-size: large;
}