.modalContent {}

.modalText {
    display: flex;
    flex-direction: row;
}

.left {
    width: 70%;
}

.right {
    width: 30%;
}

.desc {
    color: rgb(66, 66, 66);
    display: flex;
    flex-direction: row;
    margin: 10%;
}

.sameGenre {
    position: relative;
    width: auto;
}