.poster {
    width: 320;
    height: 180px;
    margin: 20px 10px 10px;
    transition-duration: 500ms;
    cursor: pointer;
}

.poster:hover {
    transform: scale(1.2);
    transition-duration: 500ms;
}